# ---------------------------------------------------------
# Author: GHNAMI Helmi
# Date: 2025-09-26
# Position: Data-Science
# ---------------------------------------------------------

# Core
numpy
tqdm
pyyaml
requests

# PDF & data extraction
pymupdf
tabula-py
pillow

# Embeddings & LLMs
faiss-cpu
sentence-transformers
transformers
openai

# Text splitting
langchain-text-splitters

# Dev & Testing
pytest
flake8

# Notebook environment
jupyter
